name: CI

on:
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Volta
        run: curl https://get.volta.sh | bash
        shell: bash

      - name: Load Volta
        run: |
          export VOLTA_HOME="$HOME/.volta"
          export PATH="$VOLTA_HOME/bin:$PATH"
          volta --version

      - name: Setup Node 24
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: yarn

      - name: Install deps
        run: yarn install --immutable

      - name: Codegen
        run: yarn setup

      - name: Lint
        run: yarn lint

      - name: Run tests
        run: yarn test

      - name: Build
        run: yarn build
